/* responsive */

/* Large laptop ============================= */
@media (max-width: 1440px) {
  /* .top-nav-container {
    margin: 1.4rem auto !important;
  } */
  /* menu */
  .btn-x {
    font-size: 8rem !important;
  }
  .menu-items li {
    margin: 8rem 0 !important;
    font-size: 6rem !important;
  }
}
@media (max-width: 1290px) {
  .top-nav-container {
    width: 100rem !important;
  }
  .bck-quote {
    width: 100rem !important;
    font-size: 5.6rem !important;
  }
}

/* laptop ============================= */
@media (max-width: 1100px) {
  .top-nav-container {
    width: 90rem !important;
  }
  .bck-quote {
    width: 90rem !important;
    font-size: 5.4rem !important;
  }
  /* menu */
  .btn-x {
    font-size: 7.4rem !important;
  }
  .menu-items li {
    font-size: 5.8rem !important;
  }
}
@media (max-width: 1000px) {
  .top-nav-container {
    width: 80rem !important;
  }
  .bck-quote {
    width: 80rem !important;
    font-size: 5.2rem !important;
  }
  /* menu */
  .btn-x {
    font-size: 7.2rem !important;
  }
  .menu-items li {
    font-size: 5.4rem !important;
  }
}
@media (max-width: 900px) {
  .top-nav-container {
    /* font-size: 3rem !important; */
    width: 70rem !important;
  }
  .bck-quote {
    width: 70rem !important;
    font-size: 4.2rem !important;
  }
  /* menu */
  .btn-x {
    font-size: 6.8rem !important;
  }
  .menu-items li {
    font-size: 4.2rem !important;
  }
}
/* tablet ============================= */
@media (max-width: 800px) {
  .top-nav-container {
    /* font-size: 3rem !important; */
    width: 60rem !important;
  }
  .bck-quote {
    width: 60rem !important;
    font-size: 4rem !important;
  }
  /* menu */
  .btn-x {
    font-size: 6.4rem !important;
  }
  .menu-items li {
    font-size: 4rem !important;
  }
}
@media (max-width: 700px) {
  .top-nav-container {
    /* font-size: 3rem !important; */
    width: 56rem !important;
  }
  .bck-quote {
    width: 56rem !important;
    font-size: 3.6rem !important;
  }
  /* menu */
  .btn-x {
    font-size: 6.2rem !important;
  }
  .menu-items li {
    font-size: 3.6rem !important;
  }

  /* features */
  .models-txt {
    font-size: 2.4rem !important;
  }

  /* ===== infos ====================== */
  .header-info {
    display: grid !important;
    grid-template-columns: 1fr;
  }

  .f-container {
    grid-row: 1;
    margin-top: 4rem;
  }
  .img-container {
    grid-row: 2;
  }
}

@media (max-width: 650px) {
  .top-nav-container {
    /* font-size: 3rem !important; */
    width: 50rem !important;
  }
  .bck-quote {
    width: 50rem !important;
    font-size: 3.4rem !important;
  }
  /* menu */
  .btn-x {
    font-size: 5.8rem !important;
  }
  .menu-items li {
    font-size: 3.2rem !important;
  }

  /* features */
  .img-list {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(3, 1fr);
  }
  /* .img-1 {
  } */
  .img-2 {
    align-self: flex-start !important;
    grid-column: 2 !important;
    grid-row: 1 !important;
  }
  .img-3 {
    align-self: flex-end !important;
    grid-column: 2 !important;
    grid-row: 1 !important;
  }
  /* .img-4 {
  }
  .img-5 {
  }
  .img-6 {
  } */
  .img-7 {
    align-self: flex-start !important;
    grid-column: 2 !important;
    grid-row: 3 !important;
  }
  .img-9 {
    align-self: flex-end !important;
    grid-column: 2 !important;
    grid-row: 3 !important;
  }
}
@media (max-width: 600px) {
  .top-nav-container {
    /* font-size: 3rem !important; */
    width: 46rem !important;
  }
  .bck-quote {
    width: 46rem !important;
    font-size: 3.2rem !important;
  }
  /* menu */
  .btn-x {
    font-size: 5.6rem !important;
  }
  .menu-items li {
    font-size: 2.8rem !important;
  }
}
/* Mobile ============================= */
@media (max-width: 500px) {
  .top-nav-container {
    font-size: 2.8rem !important;
    width: 40rem !important;
  }
  .bck-quote {
    width: 46rem !important;
    font-size: 2.8rem !important;
    line-height: 1.4;
  }
  /* menu */
  .btn-x {
    font-size: 4.8rem !important;
  }
  .menu-items li {
    font-size: 2.6rem !important;
  }
}
@media (max-width: 479px) {
  .top-nav-container {
    font-size: 2.8rem !important;
    width: 40rem !important;
    /* width: 100% !important; */
  }
  .bck-quote {
    /* width: 46rem !important; */
    width: 100% !important;
    font-size: 2.8rem !important;
    line-height: 1.4 !important;
  }
  /* menu */
  .btn-x {
    font-size: 4.8rem !important;
  }
  .menu-items li {
    font-size: 2.6rem !important;
    margin: 10rem 0 !important;
  }

  /* features */
  .img-list {
    display: flex !important;
    flex-direction: column !important;
  }
  /* features */
  .models-txt {
    font-size: 2.2rem !important;
  }
}
@media (max-width: 450px) {
  .header {
    /* border: 0.2rem solid #fff; */
    height: 77vh !important;
    position: relative;
  }
  .top-nav-container {
    width: 38rem !important;
    font-size: 2.2rem !important;
  }
  .bck-quote {
    font-size: 2rem !important;
  }
  /* menu */
  .btn-x {
    font-size: 4.6rem !important;
  }
  .menu-items li {
    font-size: 2.4rem !important;
    margin: 10rem 0 !important;
  }
}
@media (max-width: 425px) {
  .top-nav-container {
    width: 36rem !important;
  }
  /* menu */
  .btn-x {
    font-size: 4.4rem !important;
  }
  .menu-items li {
    font-size: 2rem !important;
    margin: 12rem 0 !important;
  }
}
@media (max-width: 400px) {
  .top-nav-container {
    /* font-size: 2.6rem !important; */
    width: 100% !important;
    padding: 2rem !important;
  }
  /* .bck-quote {
    font-size: 2.4rem !important;
  } */
  /* menu */
  .btn-x {
    font-size: 4.2rem !important;
  }
  .menu-items li {
    font-size: 2rem !important;
    margin: 12rem 0 !important;
  }
}
@media (max-width: 375px) {
  .top-nav-container {
    /* font-size: 2.4rem !important; */
    padding: 2rem !important;
  }
  /* .bck-quote {
    font-size: 2rem !important;
  } */
  /* menu */
  .btn-x {
    font-size: 4.2rem !important;
  }
  .menu-items li {
    font-size: 1.8rem !important;
    margin: 12rem 0 !important;
  }
}
